@page
@model Discography.Web.Pages.Album.ViewModel
@{
    ViewData["Title"] = "Fotos del Álbum";
}

<h1>Detalles Álbum</h1>

<table class="table table-striped">
    <tbody>
        @foreach (var photo in Model.Photos)
        {
            <tr>
                <td width="150px">
                    <img src="@photo.thumbnailUrl" class="img-fluid img-thumbnail" alt="@photo.title">
                </td>
                <td>
                    <a class="btn btn-primary" href="/Comment/View/@photo.id" role="button" title="Ver Comentarios de la foto @photo.id">Ver Comentarios</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*
@foreach (var photo in Model.Photos)
{
    <div class="row">
        <div class="col-lg-9">
            <div>
                <img src="@photo.thumbnailUrl" class="img-fluid img-thumbnail" alt="@photo.title">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <a class="btn btn-primary" href="/Comment/View/@photo.id" role="button" title="Ver Comentarios de la foto @photo.id">Ver Comentarios</a>
            </div>
        </div>
    </div>
}
    *@