@page "{id:int}"
@model Discography.Web.Pages.Album.ViewModel
@{
    ViewData["Title"] = "Fotos del Álbum";
}

<h1>Detalles Álbum</h1>

<table class="table table-striped">
    <tbody>
        @foreach (var photo in Model.Photos)
        {
            <tr>
                <td width="150px">
                    <img src="@photo.thumbnailUrl" class="img-fluid img-thumbnail" alt="@photo.title">
                </td>
                <td>
                    <button id="buttonForPhoto_@photo.id" onclick="javascript:GetComments(@photo.id);" class="buttonForPhoto" type="button" class="btn btn-primary" href="#" role="button" title="Ver Comentarios de la foto @photo.id">Ver Comentarios</button>
                    <div id="commentsForPhoto_@photo.id" class="commentsForPhoto"></div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function GetComments(photoId) {
        var url = '@Url.Action("GetComments")'
        $('#commentsForPhoto_' + photoId).html('Sample Comments');
        /*
        $.ajax({
            url: url,
            data: { photoId },
            type: "post",
            success: function (Comments) {
                $('#commentsForPhoto_' + photoId).html(Comments);
            },
            error: function () {
                alert('error');
            }
        });
        */
    }
</script>